{% extends 'master.html' %}

{% block body %}

<section id="form">
        <div class="container">
            <div class="card card-1 col-sm-4 col-sm-offset-1">

                <div class="signup-form">

                    <div class="login-register-tab-list nav">
                        <a class="active" data-bs-toggle="tab" href="{% url 'login' %}">
                            <h4>login</h4>
                        </a>
                        |
                        <a data-bs-toggle="tab" href="{% url 'signup' %}">
                            <h4>register</h4>
                        </a>
                    </div>

                    <form method="POST">
                        {% csrf_token %}
                        {% for field in form %}
                            {{ field.errors }}
                            <label>{{field.label_tag}}</label>
                        <p>{{ field }}</p>
                        {% endfor %}
                        <a href="{% url 'password_reset' %}" class="" style="float: right;">Forgot Password ?</a><br/>

                        <button clas="btn btn-default" type="submit" style="margin-top: 40px;">Login</button>

                        <!-- <a href="{% url 'signup' %}" class="href"><span style="color: black;margin-left: 120px;">Create Your Account &nbsp;&rarr;</span></a> -->
                        
                    </form>
                </div>

            </div>
        </div>
</section>

{% endblock %}