{% extends 'master.html' %}

{% block body %}

<section id="form">
        <div class="container">
            <div class="card card-1 col-sm-4 col-sm-offset-1">

                <div class="signup-form">
                    
                    <div class="login-register-tab-list nav">
                        <a  data-bs-toggle="tab" href="{% url 'login' %}">
                            <h4>login</h4>
                        </a>
                        |
                        <a class="active" data-bs-toggle="tab" href="{% url 'signup' %}">
                            <h4>register</h4>
                        </a>
                    </div>
                    <form method="POST">
                        {% csrf_token %}
                        {% for field in form %}
                            {{ field.errors }}
                        <p>{{ field }}</p>
                        {% endfor %}

                        <button clas="btn btn-default" type="submit">Signup</button><br />
                        <!-- <span style="margin-left: 80px;">Already have an account ?</span>&nbsp;<a href="{% url 'login' %}">Log In</a> -->
                    </form>
                </div>

            </div>
        </div>
</section>
{% endblock %}